<div class="container">
  <div class="jumbotron welcome">
      <img class="img-responsive center-block" src="https://scontent.ford1-1.fna.fbcdn.net/v/t1.0-9/13179401_1137960329589744_4546712928871530752_n.jpg?oh=16261909967d3d57c1b9340515402616&oe=58A919B4">
    <h1>Austin Charles Dorff</h1>
    <p>Dev Bootcamp Graduate, 2016</p>
    <p class="slightly-smaller">Entry-Level Full Stack Web Developer</p>
  </div>
</div>
