<div class="container">
  <a href="/project/stack-overflow-clone">
    <div class="project">
      <h1>Stack Overflow Clone</h1>
      <p>A clone of the Stack overflow website.</p>
    </div>
  </a>
  <a href="/project/triplea-battle-calc">
    <div class="project">
      <h1>Axis And Allies Battle Calculator</h1>
      <p>A Battle Simulator that allows the user to input the units involved in a battle and then runs the battle according to Low Luck game play.</p>
    </div>
  </a>
  <a href="/project/relational-tones">
    <div class="project">
      <h1>Relational Tones v2.0</h1>
      <p>A recreation of my final project at Dev Bootcamp. Provides song recommendations based on a temporary playlist created by the user.</p>
    </div>
  </a>
  <a href="/project/mechanica">
    <div class="project">
      <h1>Mechanica</h1>
      <p>A Minecraft modification, written in Java using the Minecraft Forge MDK (Modder Development Kit). Mechanica adds more player-usable content to Minecraft by adding additional blocks and machines to process resources and improve the efficiency of the gathering of resources, a core theme of Minecraft.  Programming concepts utilized include: object oriented design (encapsulation, polymorphism, abstraction, and inheritance); hashes; interfaces; and JSON files.</p>
    </div>
  </a>
</div>
